
*{
	background-color: none !important;
	font-family: comic-sans, cursive;
}

body{
	background-image: url('http://localhost/book/images/Animated-gif-stars-twinkling-in-night-sky.gif');
	background-color: #000;
}


table{
	border: 4px solid #0F0;
}

h1.shith1{
	display: block;
	color: red;
}