
*{
	background-color: none !important;
	font-family: comic-sans, cursive;
}

body{
	background-image: url('http://makeitworse.local/images/Animated-gif-stars-twinkling-in-night-sky.gif');
	background-color: #000;
}


table{
	border: 4px solid #0F0;
}

h1.shith1{
	display: block;
	color: red;
}

.inlineglobe{
	display: inline-block;
	background-image: url('http://makeitworse.local/images/globe.gif');
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}